:root{
  --bg-color: #171717;
  --text-color: #FFFFFF;
  --border-color: #2C2B2B;
  --card-bg-color: #222222;
  --card-bg2-color: #383838;
  --primary-color: #5C01B7;
  --primary-light-color: #7604e8;
  --error-color: #BA3030;
  --sucess-color: #498111;

}



body {
  display: flex;
    flex-direction: column;
  padding-left: 3%;
  padding-right: 3%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.App {
  height: 90vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: #FFFFFF;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.logout-button {
  display: flex;
  width: 35px;
  height: 35px;
  font-size: 25px;
  align-items: center;
  justify-content: center;

&:hover{
    border: 1px solid rgb(245, 61, 61);
    color: rgb(245, 61, 61);
    background: var(--card-bg2-color);
    cursor: pointer;

}

  
}


.card{
  padding:5px;
  background: var(--card-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.profile-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  padding: 20px 0px 20px 0px;
  &:hover{
      box-shadow: 0px 0px 25px #5c01b785;

  }

}

.profile-img {
  border-radius: 50%;
  width: 96px;
    
}

.left-panel {
  flex: 1;
  display: flex;
  flex-direction:column ;
  gap: 2rem;
}
.right-panel{
  flex: 3;
}

.event-panel{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.dashboard {
  display: flex;
  gap: 2rem;
  height: 100%;
}


.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 1rem;
padding: 1rem 0 1rem 0rem;
}

.sidebar-item{
  background: var(--card-bg2-color);
  width: 60%;
  text-align: left;
  align-items: center;
  vertical-align: center;
  padding: 8px 20px 8px 30px;
  border-radius: 5px;
  &:hover{
    font-weight: bold;
      box-shadow: 0px 0px 25px #5c01b785;
    cursor: pointer;
  }
}

.active{
  background-color: #FFFFFF;
  color: var(--primary-color);
  font-weight: bold;
}

.events-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* see notes below */
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1rem;
}

.event-card {
  max-width: 300px;
  
}

.event-card > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 100% 0;

      
}

.event-tools{
  display: flex;
  justify-content: space-between;
}

.card-action {
  width: 35px;
  height: 35px;
  font-size: 25px;
  text-align: center;
  &:hover{
    border: 1px solid var(--primary-light-color);
    color: var(--primary-light-color);
    cursor: pointer;

}
}
.h-100{
  height: 100%;
}

.flex {
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}
.space{
    justify-content: space-between;
}

.self-center{
  align-self: center;
}

input[type=text],input[type=password]{
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 0;
  margin: 0;
  outline: none;
  color: var(--text-color);
  padding: 7px 10px 5px 10px;
  font-size: 15px;
  &:hover,&:focus{
    border: 1px solid var(--primary-light-color);

  }

  &::placeholder{
    color: var(--card-bg2-color);
  }
}



input.form-error, textarea.form-error{
  border: 1px solid var(--error-color);
  color: var(--text-color);
}


form{
  display: flex;
  flex-direction: column;
  gap:3px
}

textarea {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 0;
  margin: 0;
  outline: none;
  color: var(--text-color);
  padding: 7px 10px 5px 10px;
  max-width: 100%;
  min-width: 100%;
  width: auto ;
  min-height: 30px;
  max-height: 250px;
  box-sizing: border-box;
  font-size: 15px;
    &:hover,
      &:focus {
        border: 1px solid var(--primary-light-color);
      }
    &::placeholder {
                  color: var(--card-bg2-color);
                }
}

input[type=date]{
    background-color: var(--bg-color);
      border: 1px solid var(--border-color);
      border-radius: 5px;
      padding: 0;
      margin: 0;
      outline: none;
      color: var(--text-color);
      padding: 7px 10px 5px 10px;
      font-size: 15px;
        &:hover,
          &:focus {
            border: 1px solid var(--primary-light-color);
          }

}


form > button{
  padding: 5px 25px;
    background: var(--primary-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    width: 100%;
    border-radius: 5px;
    &:hover{
            background: var(--primary-light-color);
            border: 1px solid var(--card-bg2-color);
            cursor: pointer;
           
    }
}

form > button {
  margin: 10px 0px;
}

.footer{
  padding: 15px;
  color:#585757;
  text-align: center;
  bottom: 0;
  width: 100%;
  margin-top: -50;
}

hr{
  border: 1px solid #585757;
}

.page{
  min-height: 93vh;
}


.line{
  border-bottom:1px solid var(--bg-color);
  width:100%;
  margin-top: 10px;
  margin-bottom: 10px;

}

.event-info > .title {
  font-weight: bold;
  padding: 2px;
  max-lines: 2;
}

.event-info > .date {
  font-size: small;
  padding-bottom: 5px;
}
@media screen and (max-width: 1024px) {
  textarea {
    min-width: 100%;
    }


  input[type=date] {
    width: 100%;
  }
  input[type=text] {
      width: 100%;
 }
}

@media screen and (max-width: 783px) {
  .dashboard{
    display: flex;
    flex-direction: column;
  }
  .left-panel{
    width: 100%;
  }
  .right-panel{
    width: 100%;
  }

  .event-card{
    min-width: 98%;
  }

}



.error{
  color:var(--error-color);
  width:100%;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid var(--error-color);
  border-radius: 5px;
}
.sucess{
  
    color:var(--sucess-color);
    width:100%;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid var(--sucess-color);
    border-radius: 5px;
  
}

/* MODAL */
body.active-modal {
  overflow-y: hidden;
}

.hidden {
  display: none;
}





.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: var(--card-bg-color);
  border: 1px solid var(--border-color);
  box-shadow: 0px 0px 25px #05010a85;
  padding: 14px 28px;
  border-radius: 3px;
  width: 40%;
  max-width: 900px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.action-card{
  display: flex;
  flex-direction: column;
  height: 96%;
  max-width: 311px;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
    background: transparent;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: large;
    color: #585757;
    &:hover{
      color:var(--text-color);
background: var(--card-bg-color);
      cursor: pointer;
    }
  
}

.action-card > i {
  font-size: 70px;
}



.text-center{
  text-align: center;
}

.login-card{
  width: 300px;
  padding: 20px;
}


.login-form > input {
  width: 100%;
  box-sizing: border-box;
}

.login-form > button {
  width: 100%;
}



.login-span {
  font-size: 10px;
  text-align: right;
  color: var(--primary-light-color);
  &:hover{
    cursor: pointer;
    text-decoration: underline;
  }
}

.profile-form {
  padding: 50px;
}

.socials-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 70px;
    column-gap: 45px;
  
}

.socials-form  > div > label{
  display: block;
}

.socials-form  > div > input{
  width: 90%;
}

.members-panel {
  display: flex;
  flex-direction: column;
  row-gap:1rem ;
  width: 100%;
  align-items: end;
}

.add-btn {
  align: right;
 padding: 16px 32px 16px 32px;
  background: var(--card-bg-color);
  color: var(--text-color);
  display: flex;
  height: 35px;
  width: fit-content;
  font-size: 15px;
  align-items: center;
  justify-content: space-evenly;

  &:hover{
    background: var(--card-bg2-color);
    cursor: pointer;

}
}

.members-panel-content {
  width: 100%;
  align-items: center;
}
table{
  padding: 5px;
}
table th {
    padding:12px;
    text-align: left;
    background-color: var(--bg-color);
    color: white;


  
}

table tr{
  background-color: var(--bg-color);
}
table td {
  padding: 12px;
}

table tr:hover {
  background-color: var(--card-bg2-color);
}

.members-table {
  width: 100%;
  border-radius: 20px;
}



/*
    HOME PAGE
*/

.home-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.action-button {
  padding: 10px 30px 10px 30px;
  background: var(--primary-color);
  color: var(--text-color);
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid var(--border-color);

  &:hover{
    background: var(--primary-light-color);
    cursor: pointer;
  }

}

.home-nav{
  display: flex;
  column-gap:16px ;
  
  background: var(--card-bg-color);
  padding: 5px 10px 5px 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.home-nav > div {
  padding: 8px 16px 8px 16px;
  border-radius: 8px;


  &:hover{
    cursor: pointer;
    background: var(--card-bg2-color);
  }
}

.section-active{
  border: 1px solid var(--border-color);
  background: var(--card-bg2-color);
}

.hero{
  display: flex;
  column-gap: 7rem;
  padding-top: 32px;
  align-items: center;
}

.hero > div > h2 {
  font-size: 42px;
}
.hero > div > h2 > span {
  color: var(--primary-light-color);
}
.hero > div > button {
  width: 50%;
  font-size: 20px;
}
.hero > img {
  width: 35%;
  height: auto;
}